<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <meta charset="utf-8" />
    
    <link rel="stylesheet" href="lib/bootstrap/dist/css/bootstrap.css"/>
    <link rel="stylesheet" href="lib/bootswatch/superhero/bootstrap.css"/>
    <link rel="stylesheet" href="lib/font-awesome/css/font-awesome.css"/>
    <link rel="stylesheet" href="css/site.css"/>

</head>
<body>
    <div>
        @RenderBody()
    </div>
</body>
</html>
