@{ 
    ViewBag.Title = "Imandra";
    Layout = "_Layout";
}

<html>
<head>
    <title>Welcome to @ViewBag.Title </title>
</head>
<body>
<h2>Hi Karu</h2>
    <input type="button" value="Hello" class="btn-lg btn-success"/>
</body>
</html>